/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Fuentes */
  line-height: 1.6; /* Tamaño de la letra */
}

header {
  display: flex; /* Flexbox para distribuir los elementos de manera flexible */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Alineación vertical de los elementos */
  padding: 10px 20px; /* Espaciado interno en el header */
  background-color: #8b0000; /* Fondo rojo oscuro */
  color: white; /* Color de texto blanco */
}

nav ul li {
  margin: 5px; /* Establece un margen de 5px */
}

ul {
  list-style: none; /* Elimina el estilo predeterminado de la lista */
  display: flex; /* Flexbox para alinear los elementos en fila */
}

li a {
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
  color: white; /* Color de texto blanco */
}

#titulo {
  text-align: center; /* Centra el texto horizontalmente */
  padding-top: 60px; /* Agrega espacio en la parte superior */
}

#titulo h2 {
  font-size: 2rem; /* Tamaño de la fuente más grande para el título */
  font-weight: bold; /* Hace que el texto sea negrita */
}

#articulo {
  display: flex; /* Usa flexbox para organizar los artículos */
  justify-content: center; /* Centra los artículos dentro del contenedor */
  padding: 10px; /* Espaciado interno para los artículos */
}

article {
  border: 1px solid #e7e7e7; /* Borde gris claro */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
  text-align: center; /* Centra el texto dentro del artículo */
  margin: 10px; /* Añade un margen alrededor de cada artículo */
  padding: 15px; /* Añade relleno dentro de cada artículo */
  flex: 1; /* Los artículos ocupan el mismo espacio disponible */
}

article h3 {
  font-size: 1.6rem; /* Aumenta el tamaño de fuente para los títulos */
  margin-bottom: 15px; /* Añade un espacio debajo del título */
}

article img {
  width: 290px; /* Establece el ancho de la imagen */
  height: 180px; /* Establece la altura de la imagen */
  margin-bottom: 15px; /* Añade espacio debajo de la imagen */
}

footer {
  display: flex; /* Usa flexbox para distribuir los elementos dentro del pie de página */
  justify-content: space-between; /* Coloca los elementos a los extremos del pie de página */
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 10px 20px; /* Espaciado interno en el pie de página */
  min-height: 10vh; /* Establece una altura mínima del pie de página */
  background-color: #8b0000; /* Fondo rojo oscuro */
  color: white; /* Color de texto blanco */
}

footer div a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: white; /* Color de texto blanco */
}
